{% extends "base.html" %}
{% block content %}
    <p>Для поиска информации о состоянии защищенности АИС ФХД своего учреждения, необходимо ввести № Соглашения или ИНН.</p>
    <div class='container_form'>
        <div class='div_form'>
            <form action="">
                <p><input type="search" name="q" placeholder="№ Соглашения">
                <input type="submit" value="Найти"></p>
            </form>
            <form action="">
                <p><input type="search" name="q" placeholder="ИНН">
                <input type="submit" value="Найти"></p>
            </form>
        </div>
    </div>
{% endblock %}
