{% extends "base.html" %}
{% load bootstrap3 %}
{% block header %}
<div class='jumbotron'>
    <h3>ОГАУ "Информационно-технический центр Иркутской области"</h3>
</div>
{% endblock header %}

{% block content %}
<h4>Для поиска информации о состоянии защищенности АИС ФХД своего учреждения, Вам необходимо пройти авторизацию.
    <br><br>Результатом поиска Вам будет доступна информация о состоянии защищенности АИС учреждения, а именно:
    <ul>
        <li>Наименование учреждения;</li>
        <li>№ Соглашения, заключенное между учреждением и ОГАУ "Информационно-технический центр Иркутской области";</li>
        <li>Колличество рабочих мест (ПК), работающих в 1С;</li>
        <li>Наличие средств защиты информации на каждом рабочем месте;</li>
        <li>Наличие аттестата соответствия требованиям защиты персональных данных (<a href="{% url 'info' %}">об аттестации</a>);</li>
        <li>Наименование лицензиата, выдавшего аттестат соответствия.</li>
    </ul>
    <br><br>Для авторизации, Вам необходимо приготовить учетную запись (логин) и пароль от
    системы поддержки полльзователей "1С: Менеджер Сервиса".
    <br><br>После авторизации, Вам будет доступна
    форма поиска по ключевой информации: <br><ul><li><i>№ Соглашения</i></li></ul>или<br>
    <ul><li><i>ИНН учреждения</i></li></ul>
</h4>
<br>

<a href="{% url 'login' %}"><button type="button" class="btn btn-primary">АВТОРИЗАЦИЯ</button></a>
<br><br><br>

<hr align='center' color="цвет" width="100%">
Если у Вас возникли вопросы, Вы можете отправить письмо в Службу технической поддержки:
<form action="mailto:1c@govirk.ru" enctype="text/plain">
    <p><input type="submit" value="Написать письмо"></p>
</form>
Или возвонить по телефону: +7 (3952) 286-888
{% endblock content %}
